<h1>Game#new</h1>
<p>Find me in app/views/game/new.html.erb</p>

<%= form_for @game do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br><br>
  <%= f.label :image %>
  <%= f.url_field :image %>
  <br><br>
  <%= f.submit %>
<% end %>